@import "tailwindcss";
@import 'swiper/css';


@theme {
    --color-background: #1A1A1A;
    --color-bg-gray: #252525;
    --color-foreground: #a6a6a6;
    --color-custom-green: #34C759;
    --color-mute-gray: #303030;
}

@layer base {
    body {
        @apply bg-background;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .container {
        @apply mx-auto px-4 max-w-[1142px];
    }
}